<strong>
  <h1>{{name}}</h1>
</strong>
<hr>
{{#each users}}
 {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
<hr>
        {{#each friends}}
        {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
        
<hr>
        {{#each mutual_friends}}
        <br>{{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
        {{/each}}
<hr>
         {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
      <hr>
         {{#each mutual_friends}}
        {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
        {{/each}}
     <hr>   
      {{/each}}
      
      {{#each groups}}
    {{id}}
    <br>{{name}}
      <br>{{description}}
      <hr>
         {{#each members}}
        {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
        {{/each}}
        <hr>
        {{id}}
    <br>{{name}}
      <br>{{description}}
      <hr>
        {{#each members}}
        {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
        {{/each}}
        <hr>
      {{/each}}
      {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
      <hr>
         {{#each friends}}
        {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
      <hr>
         {{#each mutual_friends}}
        {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
      <hr>
         {{#each mutual_friends}}
        {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
        {{/each}}
        
        {{/each}}
        
        {{/each}}
<hr>
 {{#each groups}}
        {{id}}
  <br>{{name}}
    <br>{{description}}
    <hr>
     {{#each members}}
        {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
        {{/each}}
        <hr>
        {{id}}
  <br>{{name}}
    <br>{{description}}
    <hr>
      {{#each members}}
        {{id}}
  <br>{{name}}
    <br>{{gender}}
      <br>{{age}}
        {{/each}}
        {{/each}}
{{/each}}